# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# ssl dir
/ssl/

# build dir
/build/

# pico-sdk
TLS_client/pico-sdk

# CMakeFiles
TLS_client/CMakeFiles

# CMakeFiles
TLS_client/pioasm

# generated
TLS_client/generated

# elf2uf2
TLS_client/elf2uf2
